NEXT_PUBLIC_HERALD_PROGRAM_ID=
NEXT_PUBLIC_RPC_CLUSTER="devnet"
NEXT_PUBLIC_SOLANA_RPC_URL= # Overrides cluster-based RPC URL (e.g., https://sol-devnet-rpc.rpcfast.com?api_key=xxxxxxxxx)
NEXT_PUBLIC_API_URL=
UPSTASH_REDIS_REST_URL=
UPSTASH_REDIS_REST_TOKEN=
# -- Sandbox / Enclave (Testing) --
NEXT_PUBLIC_ENCLAVE_MODE=sandbox
NEXT_PUBLIC_ENCLAVE_TEST_KEY="kkNlpXYSlFFy1m7lLCXiBTaX9pH/h7fmrhZvprITd5w="
